---
// Components ==========================================
import Layout from '@layouts/Layout.astro';

// Astro ==============================================
import { getCollection } from 'astro:content';

// Hooks ==============================================
import { useReferencedData } from '@hooks/useReferencedData'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allDemos = await getCollection('demos');
---

<Layout>
	List of all demos
	<ul>
		{allDemos.map(async (demo) => {
			const { slug: seriesSlug, hasSeries } = await useReferencedData(demo.data, 'series')
			const seriesPath = hasSeries ? `${seriesSlug}/` : ''
			return (
				<li>
					<a href={`${demo.collection}/${seriesPath}${demo.id}`}>{demo.data.title}</a>
				</li>
			)
		})}
	</ul>
</Layout>
